<header>
  <div class="container inner-container">
    <div class="content">
      <div class="text-section">
        <h1>Wubba Lubba Dub Dub</h1>
        <p>
          Sigue a Rick Sanchez, un científico genio y su nieto Morty, mientras viajan a través de multiversos llenos de caos y aventuras surrealistas.
        </p>
      </div>

      <div class="image-section">
        <img
          src="/assets/Rick.png"
          className="relative z-10"
          alt="Rick and Morty"
          loading="lazy"
          width={400}
          height={400}
        />
      </div>
    </div>
  </div>
</header>

